

@font-face {
    font-family: 'Soda Shake';
    src: url('/fonts/soda-shake.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Super Bouncer';
    src: url('/fonts/super-bouncer.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}


* {
    margin: 0;
    padding: 0;
    font-family: "Super Bouncer", sans-serif;
}


html,
body,
#root {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

select,
textarea,
input,
button {
    border: none;
    outline: none;
    background-color: aliceblue;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

button:active {
    background-color: rgba(240, 248, 255, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.75);

}

input:focus {
    border: 2px solid rgba(0, 0, 0, 0.75);
}




::-webkit-scrollbar {
    width: 10px;
    background: transparent;

    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: aliceblue;
    transition: background 0.3s;

    border-radius: 2x;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(240, 248, 255, 0.7);
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}