.model-page .back-button {
    position: absolute;
    top: 16px;
    left: 16px;
}

.model-page .download-button {
    position: absolute;
    top: 16px;
    right: 16px;
}

.model-page .page-button {
    position: absolute;
    top: 50px;
    right: 16px;
}

.model-page .upload-button {
    position: absolute;
    top: 16px;
    right: 50px;
}

.model-page .model-download-button {
    position: absolute;
    top: 16px;
    right: 84px;
}

.model-page .title{
    position: absolute;
    top:100px;
    left: 50%;
    translate: -50% -50%;
}

.model-page .list {
    margin-top: 150px;
    width: 100%;
    flex: 1;

    display: flex;
    flex-direction: column;

    padding-right: 10px;
    gap: 10px;

    overflow-y: auto;
    overflow-x: hidden;
}


.model-page .item {
    width: 100%;
    height: auto;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}

.model-page .item .name {
    height: 30px;
    flex: 1;
    min-width: 0;
    word-break: break-all;
    /* Forces long unbroken URLs to wrap to the next line */
}

.model-page .item .name.active {
    background-color: oklab(84.32300000000001% -0.06082 0.04268);
}


.model-page .item .delete-button {
    width: 40px;
    flex-shrink: 0;
    /* Prevents the button from shrinking when the URL is long */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* Optional: good UX for clickable icons */
}



.model-page .input-panel {
    margin-top: auto;
    display: flex;
    width: 100%;
    height: 40px;
    gap: 10px;
}

.model-page .input-panel button {
    flex: 1;
    height: 100%;
}